name: ci

on:
  push:
    paths-ignore:
    - 'readme.md'
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install .NET 10.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '10.0.x'

    - name: Test
      run: dotnet test --configuration Release
      working-directory: src

    - name: Build, Pack, Publish
      shell: bash
      run: |
        dotnet tool install -g dotnet-releaser
        dotnet-releaser run --nuget-token "${{secrets.NUGET_TOKEN}}" --github-token "${{secrets.GITHUB_TOKEN}}" src/dotnet-releaser.toml